<div class="mt-4">
  <h3>Sửa khóa học</h3>
  <form class="mt-4" method="POST" action="/courses/{{course._id}}?_method=PUT">
    <div class="mb-3 form-group">
      <input type="text" class="form-control" value="{{course.name}}" id="name" name="name"/>
      <label class="form-check-label" for="description">Tên khóa học</label>
    </div>
    <div class="mb-3 form-group">
      <textarea class="form-control" id="description" name="description">{{course.description}}</textarea>
      <label class="form-check-label" for="description">Mô tả</label>
    </div>
    <div class="mb-3 form-group">
      <input type="text" class="form-control" value="{{course.videoId}}" id="videoId" name="videoId"/>
      <label class="form-check-label" for="description">Video ID</label>
    </div>
    <div class="mb-3 form-group">
      <input type="text" class="form-control" value="{{course.level}}" id="level" name="level"/>
      <label class="form-check-label" for="description">Trình độ</label>
    </div>
    <button type="submit" class="btn btn-primary">Sửa khóa học</button>
  </form>
</div>